body {
    margin: 0;
    height: 560vh;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
}
.headerSectionOne {
    background-color: #2D2D33;
    height: 35px;
    padding-right: 30px;
    
}

.headerSectionOne a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: end;
}

.headerSectionTwo {
    display: flex;
    align-items: center;
    padding: 0px 70px 0px 70px;
    justify-content: space-between;
    background: #37373f;
    flex-wrap: wrap;
}

.headerLogo {
    display: flex;
justify-content: center;
}

.headerLogo img {
width: 40%;

}

.headerMiddle input{
    width: 480px;
    height: 44px;
    border-radius: 5px;
    border-width: 1px;
}

.headerRight {
    display: flex;
    gap: 5vh;
}

.headerRight img{
    width: 30px;
    height: 30px;
}

.headerRight a {
    color: white;
    text-decoration: none;

}

.navHome {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4vw;
}


.navHome a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.mainHome img {
    width: 100%;
}

.sectionOneHome {
    display: flex;
    flex-direction: column;
    margin: 0px 40px 0px 20px;

}

.firstH h2{
    margin: 21px 0px 30px;
}

.firstList {
    gap: 3vw;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #343636;
    border-radius: 10px;
    padding: 10px;
    flex-wrap: wrap;
}


.boxOneHome img {
    width: 150px;
    height: 150px;
}

.boxOneHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    border: 1px solid transparent;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    
}

.infoboxOne a:first-child{
    font-weight:bolder;
    font-size: 1.2rem;
}

.infoboxOne {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.infoboxOne a {
    text-decoration: none;
    color: black;
    font-weight:600;
}

.boxInfo h2 {
    margin: 55px 0px 35px;
} 

/* asd */

.sectionTwo {
    background-color: #2d2d33;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
        align-items: center;
}

.infoSectionTwo {
    padding: 30px 0px;
    
}

.infoSectionTwo h2{
    color: white;
    text-align: center;
}

.imgSectionTwo  {
    display: flex;
    margin: 0px 67px;
}

.imgSectionTwo a {
    font-weight: bold;
}

.products a {
display: flex;
justify-content: center;
text-decoration: none;
color: white;
}

.imgSectionTwo div img {
    width: 100%;
}
.imgMiddle a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;

}
.imgMiddle img{
    width: 100%;
}

.marcas {
    background-color: #37373F;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.footer {
    background-color: #2D2D33;
    display: flex;
    align-items: center;

}

.footerTop {
    height: 2px;
    background-color: white;
    
}

.footerLeft {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.footerLeft a {
    padding-left: 50px;
    text-decoration: none;
    color: white;
}

.footerMiddle {
    width: 33.33%;
    display: flex;
    justify-content: center;
}

.footerMiddle button {
    padding: 8px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.footerRight {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
}

.socialNetwork img { 
    width: 50px;
    height: 50px;
    
}


@media screen and (max-width: 1000px){

    .navHome {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0px 10px 0px;
    }

    .headerMiddle input {
        width: 250px;
        margin: 10px 0px;
    }

    .firstList {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #343636;
    }
    .headerlogo {
        width: 100%;
    }

    
    .sectionOneHome {
        margin: 0;
        padding: 0;

    }
    .boxOneHome img {
        width: 150px;
        height: 150px;
        
    }
    
    .boxOneHome{

        width: 150px;
        border: 1px solid transparent;
        padding: 15px;
        border-radius: 5px;
        background-color: white;
        
    }
    .firstH {
        text-align: center;
    }

    .imgSectionTwo  {
        display: flex;
        margin: 0px 0px;
    }

    .marcas {
        flex-wrap: wrap;
        width: 100%;

    }

    .footer {
        flex-wrap: wrap;
        padding-bottom: 30px;
        gap: 2vh;
    }
    
    footer {
        width: 100%;
    }

    .footerLeft a {
        padding: 0;
    }

    .footerLeft {
        width: 100%;
        display: flex;
    align-items: center;
        margin-top: 20px;
    }


    .footerMiddle {
        width: 100%;
    }

    .footerRight{
        width: 100%;
    }
    .socialNetwork {
        display: flex;
        gap: 10vw;
    }

    .boxInfo h2 {
        text-align: center;

    } 
}