$paleta-de-colores:(gris-oscuro:#2D2D33, gris:#37373F, gris-claro:#343636); /* map-coleccion de variables */

$blanco:white; /* variable comun*/

/* @mixin btn ($color,$background-color-hover,$transition){
    padding: 8px;
    border-radius: 5px;
    background-color: transparent;
    color: $color;
    border: 1px solid white;
    &:hover{ 
        transition: $transition;
        background-color: $background-color-hover;
    }
} */


.subrayado{
    text-decoration: underline white;
}


@import "./component/base";
@import "./component/mainHome";
@import "./component/mainPages";
@import "./component/navbar";
@import "./component/contact-us";
@import "./component/ofertasGrid";
@import "./component/pages";
@import "./component/sectionHome";
@import "./component/sectionPages";
@import "./normalize";
@import "./component/footer";
@import "./component/mediaquery";







