@media screen and (max-width: 1200px){
    .headerSectionTwo{
        flex-direction: column;

        .headerMiddle {input {
            margin: 10px 0px;
            }
        }   

        .headerLogo {
            margin-top: 20px;
        }

        .headerRight {
            margin-bottom: 20px;
        }
    }

    .sectionTwo{
        .marcas {
            padding: 10px 0px;
        }
    }





}

@media screen and (max-width: 1000px){
    .firstList {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #343636;
    }

    .headerSectionTwo{
        .headerlogo {
            width: 100%;
        }
    }
    
    .sectionOneHome {
        margin: 0;
        padding: 0;
    }

    .sectionOneHome{
        .firstList{
            .boxOneHome {
                img {
                    width: 150px;
                    height: 150px;
                    }
                }
            
            .boxOneHome{
                width: 150px;
                border: 1px solid transparent;
                padding: 15px;
                border-radius: 5px;
                background-color: white;
                }
            }
        .firstH {
        text-align: center;
        }
        }

    .sectionTwo{
        .imgSectionTwo  {
            display: flex;
            margin: 0px 0px;
            }

        .marcas {
            flex-wrap: wrap;
            width: 100%;
        }    
        }


    .footer {
        flex-wrap: wrap;
        padding-bottom: 30px;
        gap: 2vh;
    }
    
    footer {
        width: 100%;
    }

    .footerLeft {
        a {
            padding: 0;
            }
        }
    .footerContent {
        gap: 4vh;

        .footerLeft {
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 20px;
        }

        .footerMiddle {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .footerRight{
            width: 100%;
        }
        .socialNetwork {
    
            justify-content: center;
            gap: 1vw;
        }
    }

    .sectionOneHome{
        .boxInfo h2 {
            text-align: center;
        } 
    }
    
}



@media screen and (max-width: 620px){
    .headerSectionTwo{
        padding: 0;
    }
}

@media screen and (max-width: 520px){
    
    

        .headerSectionTwo{
            .headerMiddle {
                input{
                    width: 300px;
                }
            }
        }

    .sectionOneHome{
        .firstList{ 
            .boxOneHome{
                width: 160px;
                }
            }
        }
}

@media screen and (max-width: 450px){

.sectionOneHome{
    .firstList{
        .boxOneHome{
            img{
                width: 150px;
                height: 150px;
            }
        }
    }
}

    .containerPcs {
        display: flex;
        flex-direction: column;


        .columnaPcDeEscritorio{ 
            margin-bottom: 20px;
        }
    
        .columnaPcDeEscritorio {
            p {
                margin-bottom: 10px;
                }
            }
        .columnaPcDeEscritorio {
            ul li {
                display: inline;
                }
            }

        .firstContainerPcs{
            .boxOnePcs {
                width: 160px;
                margin: 20px auto;
            }
        
            .boxOnePcs {
                img {
                    width: 150px;
                    height: 150px;
                    }
                }
        }

        .boxOneMicros{
            margin: 20px auto;
            width: 170px;
        }
        .boxOneMicros {
            a { 
                font-size: 14px;
            }
        }
        .boxOneMicros {
            img {
                width: 150px;
                height: 150px;
                }
            }
    }

    header{
        .headerSectionTwo {
            padding: 0;
        }
    }
}